.main-header {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    padding: 10px;
  }
.header {
    display: flex;
    width: 784px;
    padding: sp-32 sp-24 sp-24 sp-24;
    flex-direction: column;
    align-items: flex-start;
    gap: sp-8;
    align-self: stretch;
    background: #FFFFFF;
  }
  
  .main-title {
    align-self: stretch;
    color: #262626;
    font-family: "Open Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .sub-title {
    align-self: stretch;
    color: #262626;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
  
  .main-content {
    display: flex;
    width: 1392px;
    height: 570px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 24px;
    flex-shrink: 0;
    flex-wrap: wrap;
  }
  
  .column {
    padding: 10px;
    box-sizing: border-box;
  }
  
  .column-1 {
    flex: 1;
    background-color: #f9f9f9;
    height: 555px;
  }

  .first-column {
    display: flex;
    width: 736px;
    height: 761px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    border-radius: 4px;
    border: var(1, 1px) solid #CCCCCC;
  }
  
  .column-2 {
    flex: 2;
    background-color: #f9f9f9;
    overflow-y: auto; /* To allow scrolling if content overflows */
  }
  
  .bottom-column {
    background-color: #f9f9f9;
    padding: 10px;
  }
  
  .metadata-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 10px; /* Space between columns */
  }
  
  .metadata-item {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
  }
  
  .metadata-field {
    margin-bottom: 5px;
  }
  
  .metadata-label {
    font-weight: bold;
  }
  
  .metadata-value {
    margin-left: 5px;
  }
  